#editbar {
    height: auto
}

body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.banner {
    display: flex;
    background-color: var(--main-color);
    width: 100%;
    flex-direction: column;
}

.top_banner {
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    align-items: center;
    padding: 10px 10px;
}

#top-menu {
    display: block;
    overflow-x: hidden;
}

.menubar {
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
    width: 100%;
}

.menubar_left {
    height: fit-content;
}

.menu_right {
    align-items: center;
    flex-shrink: 0;
    display: flex;
}

.menuitem {
    margin-left: 5px;
    padding: 2px 7px;
    margin-top: 5px;
    display: inline-block;
    background-color: white;
    height: auto;
    border-radius: 3px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
    width: 100%;
}

.toolbar ul.toolbar_left {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
    margin: auto 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.toolbar ul.toolbar_right {
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    margin: auto 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.editor-button {
    min-height: 28px;
    min-width: 28px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 17px;
}

.editor-button.active {
    background-color: wheat;
}

.buttons-with-input {
    display: inline-flex;
    gap: 10px;
}

.separator {
    content: '';
    display: inline-block;
    background: #888;
    margin: 0px 4px;
    height: 28px;
    width: 1px;
    vertical-align: middle;
}

#font-size-input {
    text-align: center;
    min-height: 28px;
    padding: 0;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

/*Font selector*/
.select_wrap {
    width: 12ch;
    position: relative;
    user-select: none;
    display: inline-block;
}

.select_wrap * {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.select_wrap .default_option {
    background: #fff;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    display: flex;
    font-size: 17px;
    height: 28px;
    justify-content: space-between;
}

.select_wrap .default_option .option {
    height: 28px;
    width: 10ch;
}

.select_wrap .default_option .option .nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
}

.select_wrap .default_option .arrow {
    width: 2ch;
}

.select_wrap .default_option .arrow:before {
    content: "";
    position: absolute;
    top: 7px;
    width: 4px;
    height: 4px;
    border: 2px solid;
    border-color: transparent transparent #000000 #000000;
    transform: rotate(-45deg);
}

.select_wrap.active .default_option .arrow:before {
    top: 13px;
    transform: rotate(-225deg);
}

.select_wrap .select_ul {
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    display: none;
    border: none;
    z-index: 3;
}

.select_wrap .select_ul li {
    padding: 10px 10px;
    cursor: pointer;
    position: relative;
    z-index: 3;
    background-color: white;
    width: 15ch;
    white-space: nowrap;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.select_wrap .select_ul li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6)
}

.select_wrap .select_ul li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.select_wrap .select_ul li:hover {
    background: #fff4dd;
}

.select_wrap .option {
    display: flex;
    align-items: center;
    width: 15ch;
}

.select_wrap.active .select_ul {
    display: block;
}

[contenteditable] {
    outline: 0 solid transparent;
}

#tmp {
    margin:30px auto;
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    outline: 1px solid lightgray;
    border-radius: 3px;
}

#pane-holder {
    width: 100%;
    overflow: auto;
}

#pane {
    overflow: hidden;
    transform-origin: top left;
    margin: 0 0;
    padding: 0 0;
    height: fit-content;
    width: fit-content;
    position: relative;
    z-index: 1;
    word-break: break-word;
    white-space: break-spaces;
}

.profileImage {
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: var(--profile-image-size);
    cursor: pointer;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
    background: black;
    color: white;
    border-radius: 0.25rem;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

/*chat*/
#chatopen {
    z-index:100;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    right: 25px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    width: 10%;
    height: 60px;
    justify-content: center;
    font-size: 16px;
    align-items: center;
}

#chat {
    z-index:101;
    bottom:0;
    position:absolute;
    right:25px;
    box-shadow: 0 0 0 1px rgba(99,114,130,.16),0 8px 16px rgba(27,39,51,.08);
    width: 40%;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#chattitle {
    line-height: 44px;
    height: 44px;
    padding: 0 7px;
    justify-content: space-between;
    display: flex;
    background-color: var(--main-color);
    border-top-left-radius:inherit;
    border-top-right-radius:inherit;
    align-items: baseline;
}

#chattext {
    border-bottom: 1px solid var(--background-color);
    border-top: 1px solid var(--background-color);
    overflow-y: auto;
    flex: 1 auto;
    box-sizing: border-box;
    background-color: white;
    min-height: 200px;
    height: fit-content;
    max-height: 300px;
    font-size: var(--chat-font-size);
}

#chatinputholder {
    padding: 5px;
    background-color: inherit;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}

#chatinput {
    box-sizing: border-box;
    background-color: var(--background-color);
    width:100%;
    resize:none;
    padding: 8px 10px;
    border: none;
    outline: 0;
    font-size: var(--chat-font-size);
    min-height: var(--chat-font-size);
    height: 31px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    word-break: break-word;
    overflow-y: auto;
    max-height: calc(6 * var(--chat-font-size));
    flex:1;
}

#chatsend {
    box-shadow: none;
}